<p id="notice"><%= notice %></p>

<p>
  <strong>Time posted:</strong>
  <%= @tweet.time_posted %>
</p>

<p>
  <strong>Author:</strong>
  <%= @tweet.author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %>
